$card-primary:#3E7CB1;
$card-secondary:#fff;
$accent-color: #F17300;

.card-container{

    margin-bottom:10%;
    width: 80%;
    border-radius:15px ;
    margin-left: auto;
    margin-right: auto;
    background-color: $card-primary;
    font-size:20px;
    display:grid;
    color:$card-secondary;
    text-align: left;
    box-shadow: 0px 1rem 1.5rem rgba(black, 0.5);
    h2{
        border-bottom: 2px solid $card-secondary;
        margin-left: 3%;
        margin-top:3%;
        
    }
    .card-info{
        padding-bottom:10%;
    }
    
    
    .card-img{
        width: 100%;
        border-radius: 10px;

        
    }
    
    .card-text{
        width: 100%;
        margin-left:3%;
    }
    button{
        background-color: $accent-color;
        color:$card-secondary;
        border-radius: 32px;
        font-size:18px;
        padding-top: 2%;
        padding-bottom: 2%;
        width: 35%;
        margin-right: 0;
        margin-left:auto;
        &:hover{
            cursor: pointer;
        }
        
        
    }
}

