$card-primary:#81A4CD;
$card-secondary:#054A91;


.card-container{
    border: 2px solid $card-secondary;
    margin-top:10%;
    width: 95%;
    border-radius:5px ;
    margin-left: 2%;
    background-color: $card-primary;
    h2{
        border-bottom: 2px solid $card-secondary;
    }
    
}

.card-info{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom:10%;
}

.view-already{
    opacity: 0.5;
    text-align: right;
}

.card-img{
    width: 95%;
    border-radius: 10px;
    grid-column: 1/2;
}

.card-text{
    width: 100%;
    grid-column: 2/4;
}