$button-color: #3E7CB1;
$radius: 5px;
$heading-color:#F17300;


.search-box{
    
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top:5%;

    .search-input{
        font-family: 'Poppins', sans-serif;
        width:70%;
        margin-bottom:3%;
        padding-top: 2%;
        font-size: 15px;
        border-radius: $radius;
        background: transparent;
        
        
        &:focus{
            background-color: #fff;
            border:3px solid $heading-color;
        }
    }

    button{
        background-color: $button-color;
        padding-top: 1%;
        padding-bottom: 1%;
        color:#fff;
        width: 70%;
        font-size: 20px;
        border-radius: $radius;
    }
}