$button-color: #3E7CB1;
$radius: 5px;



.search-box{
    
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top:5%;

    .search-input{
        font-family: 'Poppins', sans-serif;
        width:70%;
        margin-bottom:3%;
        padding-top: 2%;
        font-size: 13px;
        background-color: lightgrey;
        border-radius: $radius;
        
    }

    button{
        background-color: $button-color;
        color:#fff;
        width: 70%;
        font-size: 20px;
        border-radius: $radius;
    }
}