$secondary-color: #054a91;
$radius: 10px;
$accent-color:#F17300;


.search-box{
    
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top:5%;

    .search-input{
        font-family: 'Poppins', sans-serif;
        width:70%;
        margin-bottom:3%;
        padding-top: 2%;
        font-size: 15px;
        border-radius: $radius;
        background: transparent;
        padding-left: 2%;
        
    }

    button{
        background-color: #3E7CB1;
        padding-top: 1%;
        padding-bottom: 1%;
        color:#fff;
        width: 40%;
        height: 6vh;
        font-size: 20px;
        border-radius: $radius;
        &:hover{
            cursor: pointer;
        }
    }
}